
@media screen and (max-width: 768px) {
    body {
        padding: 0 0;
    }
    header {
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }

    header a img {
        margin-left: 20%;
        margin-bottom: 10%;
    }

    nav {
        display: flex;
        width: 100%;
    }
  
    nav a {
        text-decoration: none;
        border-bottom: 3px solid #F2F2F2;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
  
    nav a:nth-child(1) {
        padding: 0 25px 10px;
    }
    
    nav a:nth-child(2) {
        padding: 0 55px 10px;
    }

    nav a:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    .search{
        width: 100%;
        margin: 0;
        padding: 20px 10px;
    }
    .search h1 {
        font-size: 20px;
    }
    .search p {
        font-size: 15px;
    }

    .search .search-bar 
    {
        display: flex;
        margin: 20px auto;
    }
    .search .search-bar form .fa-map-marker-alt 
    {
        padding: 16.5px 10px;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .search .search-bar form .city 
    {
        width: 220px;
        height: 51px;
        border: none;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        list-style-type: none;
        text-decoration: none;
    }
    .search .search-bar .btnsearch 
    {
        background: transparent;
        border: none;
        width: 55px;
        height: 51px;
        border: none;
        border-radius: 15px;
        background-color: #0065fc;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        padding: 1%;
    }
    .search .search-bar .btnsearch span
    {
        display: none;
    }
    .search .search-bar .btnsearch .fa-search
    {
        display: block;
    }
    .search .search-bar .btnsearch:hover 
    {
        color: #0065fc;
        background-color: #deebff;
        border: 1px solid #0065fc;
        cursor: pointer;
    }
    .search-filter .filter button 
    {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid #f2f2f2;
        border-radius: 50px;
        background: none;
        padding: 0 20px 0 0;
        margin-top: 10px;
        margin-right: 25px;
        outline: none;
        cursor: pointer;
    }
    .search-filter{
        width: 100%;
        margin: 0;
        padding: 20px 20px;
    }
    .results {
        padding: 0;
    }
    .results .containerresults {
        flex-direction: column-reverse;
        display: flex;
    }
    .containerresults .resultscontainer {
        width: 100%;
    }
    .containerresults .popular {
        width: 100%;
        margin: 0;
    }
    .containerresults .cardpopular 
    {
        width: 306px;
    }
    .containerresults .popular .fa-chart-line 
    {
        margin-left: 30px;
    }
    .containerresults .imgmain 
    {
        width: 306px;
    }
    .activities {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 100%; */
        padding: 0;
    }
 
    
}
@media(max-width: 425px) {
    nav a {
      font-size: 14px;
    }
}

@media all and (max-width: 1279px)
{
    .activities h2 
    {
        padding-left: 20px;
    }
    .contentActivities 
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }
    .card-activity h4 
    {
        padding: 16.5px 22px;
    }
    .pic-activity 
    {
        width: 334px;
        height: 134px !important;
    }
    .activity-link 
    {
        margin: 12px 0;
    }
}
@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .pic-activity 
    {
        width: 324px;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .contentActivities 
    {
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
}
 
@media all and (min-width: 320px) and (max-width: 767px) 
{
    .pic-activity 
    {
        width: 318px;
    }
}

@media all and (max-width: 1024px)
{
    .footercontent 
    {
        flex-direction: column;
    }
    footer h3 
    {
        padding: 46px 0 9px 0;
    }
    .footercontent div 
    {
        margin-right: 0;
        margin-left: 20px;
        padding-bottom: 0;
    } 
}
@media all and (min-width: 1200px)
{
    .footercontent 
    {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px) 
{
    footer
    {
        padding: 15px;
        display: block;
    }
    footer ul li 
    {
        font-size: 1rem;
    }
}