@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: brown;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 30px;
    background-color: chartreuse;
}

header a img {
    width: 80%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 65px 25px 0;
    font-size: 18px;
}  

nav a:hover {
    border-top: 4px solid #0065FC;
    color: #0065FC;
}
.search {
    margin: 0 40px;
    width: 100%;
}
.search h1 {
    margin-bottom: 0;
    font-size: 1.8em;
    margin: 0.67em 0;
    /* color: chartreuse; */
}
/* .search form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 30px;
}
.search form .fas.fa-map-marker-alt {
    background: #F2F2F2;
    border-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 19px 23px 19px 19px;
    font-size: 20px;
    font-weight: 900;
}
.search form input {
    position: relative;
    right: 5px;
    bottom: 2px;
    border: 2px solid #F2F2F2;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 2px;
    border-left: none;
    border-right: none;
    font-weight: bold;
    padding: 18px;
}
.search form button {
    position: relative;
    right: 9px;
    bottom: 2px;
    border: none;
    background: #0065FC;
    color: white;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 21px 20px;
}
.fas.fa-search {
    display: none;
} */

.search
{
    margin-bottom: 35px;
}
.search .search-bar 
{
    display: flex;
    margin-bottom: 3%;
}
.search .search-bar .fa-map-marker-alt 
{
    padding: 16.5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search .search-bar .city 
{
    width: 234px;
    height: 51px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
}
.search .search-bar .btnsearch 
{
    background: transparent;
    border: none;
    width: 130px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 1%;
}

.search .search-bar .btnsearch .fa-search
{
    display: none;
}

.search .search-bar .btnsearch:hover 
{
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    cursor: pointer;
}

.search-filter {
    width: 100%;
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
}
.search-filter h3 
{
    margin: 0 30px;
    padding: 15px 0px 15px 5px;
}
.search-filter .filter 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-filter .filter button 
{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    background: none;
    padding: 0 20px 0 0;
    margin-right: 25px;
    outline: none;
    cursor: pointer;
}
.search-filter .filter button .icon 
{
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: -2px;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 50px;
    color: #0065fc;
}
.search-filter .filter button:hover .icon 
{
    color: black;
    background-color: #deebff;
}
.search-filter .filter button:hover 
{
    background-color: #0065fc;
    color: white;
    border-color: #0065fc;
}
